<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.dao.CommentMapper">
    <update id="updateCommentWithId" parameterType="Comment">
        update t_comment
        <set>
            <if test="article_id != null">
                article_id = #{article_id},
            </if>
            <if test="created != null">
                created = #{created},
            </if>
            <if test="ip != null">
                ip = #{ip},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="author != null">
                author = #{author},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>
